/* General Styles */
body, html {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

h1 {
    font-size: 2.5em;
    color: #333;
    margin-bottom: 20px;
}

/* Search and Cart Button Container */
.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

#searchInput {
    width: 60%;
    padding: 15px;
    border-radius: 30px 0 0 30px;
    border: 1px solid #ccc;
    font-size: 1.2em;
    outline: none;
    transition: all 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#searchInput:focus {
    border-color: #007bff;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

#searchButton {
    padding: 15px 30px;
    border: none;
    border-radius: 0 30px 30px 0;
    cursor: pointer;
    background-color: #007bff;
    color: white;
    font-size: 1.2em;
    transition: background-color 0.3s ease;
    outline: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-right: 10px;
}

#searchButton:hover {
    background-color: #0056b3;
}

#cartButton {
    padding: 15px 30px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    background-color: #20c997;
    color: white;
    font-size: 1.2em;
    transition: background-color 0.3s ease;
    outline: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#cartButton:hover {
    background-color: #17a2b8;
}

/* Category Buttons */
.buttons {
    margin: 20px 0;
}

.buttons button {
    padding: 10px 20px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #007bff;
    color: white;
    font-size: 1em;
    transition: background-color 0.3s ease;
}

.buttons button:hover {
    background-color: #0056b3;
}

.button-active {
    background-color: #0056b3; /* Darker shade for active button */
    color: white;
}
/* Button Hover and Active States */
.buttons button:hover,
.buttons button.button-active {
    background-color: #0056b3;
    color: white;
}


/* Products Display */
#productsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

.product {
    border: 1px solid #ccc;
    padding: 20px;
    margin: 10px;
    width: 220px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    text-align: left;
    position: relative;
}

.product img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
}

.product h3 {
    font-size: 1.2em;
    margin: 0;
    color: #333;
}

.product p {
    margin: 10px 0;
    color: #666;
}

.product button {
    background-color: #20c997;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: block;
    margin: 10px auto 0;
}

.product button:hover {
    background-color: #17a2b8;
}

.product:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

/* Image Slider */
.slider {
    position: relative;
    width: 100%;
    overflow: hidden;
    border-radius: 10px;
}

.slider img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    display: none;
    border-radius: 10px 10px 0 0;
}

.slider img.active {
    display: block;
}

.slider button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.slider button.prev {
    left: 10px;
}

.slider button.next {
    right: 10px;
}

/* Highlighted Text */
.highlight {
    color: #fff;
    font-weight: bold;
    padding: 1px;
    border-radius: 10px;
    animation: pulse 1.0s infinite;
    display: inline-block;
    margin: 1px auto;
    font-size: 0.9em;
}

@keyframes pulse {
    0% {
        transform: scale(1);
        background-color: #ff6f61;
    }
    50% {
        transform: scale(1.05);
        background-color: #ff4040;
    }
    100% {
        transform: scale(1);
        background-color: #ff6f61;
    }
}

/* Compare Price */
.compare-at-price {
    text-decoration: line-through;
    color: #888;
}

/* Quantity Control */
.quantity-control {
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.quantity-control button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 3px 6px;
    cursor: pointer;
    font-size: 0.7em;
    border-radius: 3px;
    margin: 0 5px;
}

.quantity-control button:hover {
    background-color: #0056b3;
}

.quantity-control input {
    width: 30px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    font-size: 1em;
    outline: none;
}

/* Add to Cart Container */
.add-to-cart-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.add-to-cart-container button {
    background-color: #20c997;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    margin-right: 5px;
    margin-top: 1px;
}

.add-to-cart-container button:hover {
    background-color: #17a2b8;
}


.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: white;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
    position: relative;
    border-radius: 10px;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 25px;
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.cart-item {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.cart-item-image {
    flex-shrink: 0;
    width: 60px;
    height: 60px;
    margin-right: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
}

.cart-item-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cart-item-info {
    flex-grow: 1;
}

.cart-item-info p {
    margin: 5px 0;
}
